{% extends 'base.html' %} 
{% block title %}Book Tutor{% endblock %} 

{% block content %}
<script type="text/javascript">
    
        {% if tutor.isPrivateTutor %} 
        function confirmBookSession() {
            return confirm("HKD {{fee}} will be deducted from your wallet, continue?");
        }
        {% endif %}

        function pad(n, width, z) {
            z = z || '0';
            n = n + '';
            return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
        }
        function validateFrom(){
            var selectedTime = $('#booking_time').val();
            var selectedDate = $('#booking_date').val();
            if(!selectedTime || selectedDate==''){
                alert("Please select the date and time!");
                return false;
            }else{
                return true;
            }
        }
</script>

<h2>{{tutor.profile.getUserFullName}}</h2>
Tutor type: {{tutor.getTutorType}} <br/>
{% if unavailable_time %} 
    Unavailable timeslot: <br/>
    <ul>
        {% for each in unavailable_time %}
            <li>{{ each }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form action="{% url 'book_tutor' tutor.id %}" method="POST">
    {% csrf_token %} select date:
    <input id="booking_date" type="date" name="booking_date" /><br/>
    select timeslot: 
    {% if tutor.getTutorType == "private" %}
        <select id="booking_time" name="booking_time">
            <option disabled selected value="notSelected"> -Please select- </option>
            <script type="text/javascript"> 
                // 8:30 - 18:30
                var i;
                var options = "";
                for (i = 9; i <= 17; i++) {
                    var t1 = pad(i, 2) + ":00:00";
                    var d1 = pad(i, 2) + ":00 - " + pad(i + 1, 2) + ":00";

                    options += "<option value=\"" + t1 + "\">" + d1 + "</option>";
                }
                document.write(options);
            </script>
        </select>
    {% else %}
        <select id="booking_time" name="booking_time">
            <option disabled selected value="notSelected"> -Please select- </option>
            <script type="text/javascript"> 
                // 8:30 - 18:30
                var i;
                var options = "<option value=\"08:30:00\">08:30 - 09:00</option>";
                for (i = 9; i <= 17; i++) {
                    var t1 = pad(i, 2) + ":00:00";
                    var t2 = pad(i, 2) + ":30:00";
                    var d1 = pad(i, 2) + ":00 - " + pad(i, 2) + ":30";
                    var d2 = pad(i, 2) + ":30 - " + pad(i + 1, 2) + ":00";

                    options += "<option value=\"" + t1 + "\">" + d1 + "</option>";
                    options += "<option value=\"" + t2 + "\">" + d2 + "</option>";
                }
                options+= "<option value=\"18:00:00\">18:00 - 18:30</option>";
                document.write(options);
            </script>
        </select>
    {% endif %}
    <br/> 
    {% if tutor.isPrivateTutor %} 
        Coupon code(if any): <input type="text" name="coupon_code" maxlength="12" /> <br/>
        <button type="submit" onclick="return validateFrom(); return confirmBookSession();">Book</button>
    {% else %}
        <button type="submit" onclick="return validateFrom();">Book</button>
    {% endif %}
    <br/><br/>
    <div id="error_msg"><b style="color:red;">{{error_msg | linebreaks}}</b></div>
</form>

<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){
            dd='0'+dd
        } 
        if(mm<10){
            mm='0'+mm
        } 
    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("booking_date").setAttribute("min", today);
</script>

{% endblock %}