{% extends 'base.html' %} 
{% block title %}Book Tutor{% endblock %} 

{% block content %}
<script type="text/javascript">
    
        {% if tutor.isPrivateTutor %} 
        function confirmBookSession() {
            return confirm("HKD {{fee}} will be deducted from your wallet, continue?");
        }
        {% endif %}

        function pad(n, width, z) {
            z = z || '0';
            n = n + '';
            return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
        }
        function validateFrom(){
            var selectedTime = $('#booking_time').val();
            var selectedDate = $('#booking_date').val();
            if(!selectedTime || selectedDate==''){
                alert("Please select the date and time!");
                return false;
            }else{
                return true;
            }
        }
</script>

<h2>{{tutor.profile.getUserFullName}}</h2>
Tutor type: {{tutor.getTutorType}} <br/>
{% if tutor.isPrivateTutor %}
    Hourly rate: {{tutor.hourly_rate}}<br/>
{% endif %}
<br/>
Tutor's Timetable:
<table id="timetable">
    {% for row in row_list %}
        <tr>
            {% for cell in row %}
                {% if cell is False %}
                    <td bgcolor="#FF0000">X</td>
                {% elif cell is True %}
                    <td bgcolor="#00FF00">✓</td>
                {% else %}
                    <td style="width: 12px">{{cell}}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>


<form action="{% url 'book_tutor' tutor.id %}" method="POST">
    {% csrf_token %} select date:
    <input id="booking_date" type="date" name="booking_date" /><br/>
    select timeslot: 
    {% if tutor.getTutorType == "private" %}
        <select id="booking_time" name="booking_time">
            <option disabled selected value="notSelected"> -Please select- </option>
            <script type="text/javascript"> 
                // 8:30 - 18:30
                var i;
                var options = "";
                for (i = 9; i <= 17; i++) {
                    var t1 = pad(i, 2) + ":00:00";
                    var d1 = pad(i, 2) + ":00 - " + pad(i + 1, 2) + ":00";

                    options += "<option value=\"" + t1 + "\">" + d1 + "</option>";
                }
                document.write(options);
            </script>
        </select>
    {% else %}
        <select id="booking_time" name="booking_time">
            <option disabled selected value="notSelected"> -Please select- </option>
            <script type="text/javascript"> 
                // 8:30 - 18:30
                var i;
                var options = "<option value=\"08:30:00\">08:30 - 09:00</option>";
                for (i = 9; i <= 17; i++) {
                    var t1 = pad(i, 2) + ":00:00";
                    var t2 = pad(i, 2) + ":30:00";
                    var d1 = pad(i, 2) + ":00 - " + pad(i, 2) + ":30";
                    var d2 = pad(i, 2) + ":30 - " + pad(i + 1, 2) + ":00";

                    options += "<option value=\"" + t1 + "\">" + d1 + "</option>";
                    options += "<option value=\"" + t2 + "\">" + d2 + "</option>";
                }
                options+= "<option value=\"18:00:00\">18:00 - 18:30</option>";
                document.write(options);
            </script>
        </select>
    {% endif %}
    <br/> 
    {% if tutor.isPrivateTutor %} 
        Coupon code(if any): <input type="text" name="coupon_code" maxlength="12" /> <br/>
        <button type="submit" onclick="return validateFrom(); return confirmBookSession();">Book</button>
    {% else %}
        <button type="submit" onclick="return validateFrom();">Book</button>
    {% endif %}
    <br/><br/>
    {% if msg %}
        <div id="msg"><b style="color:red;">{{msg | linebreaks}}</b></div><br/>
    {% endif %}
    <p>Remind: Students is not allowed to book sessions less than 24 hours from the scheduled start time.</p>
    
</form>


{% if unavailable_time %} 
    All Unavailable timeslot: <br/>
    <ul>
        {% for each in unavailable_time %}
            <li>{{ each }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if occupied_time %}
    All Occupied timeslot: <br/>
    <ul>
        {% for each in occupied_time %}
            <li>{{ each }}</li>
        {% endfor %}
    </ul>
{% endif %}


<script>
    var tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    var today = new Date();
    var nextweek = new Date(today.getFullYear(), today.getMonth(), today.getDate()+7);
    var dd = tomorrow.getDate();
    var mm = tomorrow.getMonth()+1; //January is 0!
    var yyyy = tomorrow.getFullYear();
    if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 
    tomorrow = yyyy+'-'+mm+'-'+dd;

    var dd = nextweek.getDate();
    var mm = nextweek.getMonth()+1; //January is 0!
    var yyyy = nextweek.getFullYear();
    if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 
    nextweek = yyyy+'-'+mm+'-'+dd;

    document.getElementById("booking_date").setAttribute("min", tomorrow);
    document.getElementById("booking_date").setAttribute("max", nextweek);
</script>

<style>
    #timetable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        font-size: 15px;
    }
    
    #timetable td, #timetable th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    #timetable tr:nth-child(even){background-color: #f2f2f2;}
    
    #timetable tr:hover {background-color: #ddd;}
    
    #timetable th {
        padding-top: 9px;
        padding-bottom: 9px;
        text-align: left;
        background-color: rgb(6, 112, 6);
        color: white;
    }
</style>

{% endblock %}