{% extends 'base.html' %}

{% block title %}My Message{% endblock %}

{% block content %}
    {% if list %}
        {% for each in list %}
            <div id="msg_{{each.id}}">
                <p>
                    Title: {{each.title}} <br/>
                    Date: {{each.date}}<br/>
                    Message: <br/>
                    {% autoescape off %}
                        {{each.message | linebreaks}}
                    {% endautoescape %}
                    
                </p>
            </div>
            <hr/>
        {% endfor %}
    {% else %}
        <h2>No message yet.</h2>
    {% endif %}
{% endblock %}