{% extends 'base.html' %}

{% block title %}My Message{% endblock %}

{% block content %}
    <script type="text/javascript">
        function confirmDeleteMessage(){
            var s = $("input[name=message_id]:checked");
            return confirm("You selected "+s.length+" message(s), continue to delete?");
        }
        function selectAll(){
            var status = $("#select_all").prop('checked') == true;
            if(status){
                $("input[type=checkbox]").each(function(){
                    $(this).prop('checked', true);
                })
            }else{
                $("input[type=checkbox]").each(function(){
                    $(this).prop('checked',false);
                })
            }

        }
    </script>
    {% if msg %}
        <div id="msg"><b style="color:red;">{{msg | linebreaks }}</b></div>
        <br/>
    {% endif %}
    {% if list %}
        All Notification:
        <form action="{% url 'view_notification' %}" method="post">
            {% csrf_token %}
            {% for each in list %}
                <div id="msg_{{each.id}}" class="msg_wrapper">
                        <input type="checkbox" name="message_id" value="{{each.id}}" class="checkbox_group"/>
                        <div class="second_wrapper">

                            {% if not each.checked %}
                                <div id="title_{{each.id}}" style="font-weight: bold" class="title_group">
                                    <span>Title: {{each.title}}</span> 
                                    <span class="pull-right">Date: {{each.date}}</span>
                                </div>
                            {% else %}
                                <div id="title_{{each.id}}" class="title_group">
                                    <span>Title: {{each.title}}</span> 
                                    <span class="pull-right">Date: {{each.date}}</span>
                                </div>
                            {% endif %}
                            
                            <div id="content_{{each.id}}" class="content_group">
                                Message: <br/>
                                {% autoescape off %}
                                    {{each.message | linebreaks}}
                                {% endautoescape %}
                            </div>
                        </div>
                </div>
                
                <script>
                    $('#title_{{each.id}}').click(function(){
                        $('#content_{{each.id}}').slideToggle("slow");
                        $.get("{% url 'check_notification' %}",
                            {id: "{{each.id}}" },
                            function(data, status){
                                $('#title_{{each.id}}').css("font-weight", "normal");
                            });
                    });
                </script>
            {% endfor %}
        <input type="checkbox" id="select_all" onclick="selectAll()" class="checkbox_group"/> Select All 
        <br/><br/>
        <input type="submit" value="Delete Message" onclick="return confirmDeleteMessage()">
    </form>
    {% else %}
        <h2>No Notification yet.</h2>
    {% endif %} 

    

    <style> 

        .checkbox_group{
            width: 16px;
            height: 16px;
            vertical-align: top;
        }

        .msg_wrapper{
            display: block;
        }


        .second_wrapper{
            display: inline-block;
        }

        .second_wrapper{
            width: 90%;
        }

        .title_group {
            display: block;
            padding: 5px;
            text-align: left;
            background-color: #9fd1ff;
            border: solid 1px #818080;
        }

        .content_group{
            display: block;
            padding: 5px;
            text-align: left;
            background-color: #b1b1b1;
            border: solid 1px #c3c3c3;
        }

        .content_group {
        padding: 10px;
        display: none;
        }
    </style>
{% endblock %}