{% extends 'base.html' %}

{% block title %}Search Tutor{% endblock %}

{% block content %}
    

    <h2>Search Tutor</h2>
    <hr/>
    <form method="get" action="{% url 'search_tutor' %}" id="form_element">

    <br/>
    <div class="form-group">
        <label class="control-label col-xs-3">Hourly Range:</label>
        <div class="col-xs-7">
        <input type="number"  name="min"> to 
        <input type="number" name="max">
        <br/><br/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3">Tutor Type:</label>
        <div class="col-xs-7">
        <select name="tutor_type">
                <option disabled selected value> -Please select- </option>
                <option value="private">Private Tutor</option>
                <option value="contracted">Contracted Tutor</option>
        </select>
        <br/><br/>        
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3">University:</label>
        <div class="col-xs-7">
        <select name="university">
            <option disabled selected value> -Please select- </option>
            <option value="HKU">HKU</option>
            <option value="CUHK">CUHK</option>
        </select>
        <br/><br/>        
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3">Course:</label>
        <div class="col-xs-7">
        <select name="course" multiple size="3">
            {% for c in course %}
                <option value="{{c.code}}">{{c.code}} {{c.name}}</option>
            {% endfor %}
        </select>
        <br/><br/>        
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3">Subject Tag:</label>
        <div class="col-xs-7">
        <select name="tag" multiple  size="3">
            {% for t in tag %}
                <option value="{{t.name}}">{{t.name}}</option>
            {% endfor %}
        </select>
        <br/><br/>        
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-3">First Name:</label>
        <div class="col-xs-7">
        <input name="first_name" type="text" maxlength="30">
        <br/><br/>        
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-3">Last Name:</label>
        <div class="col-xs-7">
        <input name="last_name" type="text" maxlength="30">
        <br/><br/>        
        </div>
    </div>


    <div class="form-group">
        <div class="col-xs-7">
        <input type="checkbox" name="next7"/>at least one available timeslot in the next 7 days<br/><br/>      
        </div>
    </div>


    <div class="form-group">
        <div class="col-xs-7">
        <input type="submit" value="Submit" />    
        </div>
    </div>

    </form>
{% endblock %}
