{% extends 'base.html' %}

{% block title %}My Timetable{% endblock %}

{% block content %}


    <script type="text/javascript">
        function confirmCancelSession(){
            var s = $("input[name=session_id]:checked");
            return confirm("You selected "+s.length+" session(s), continue to cancel?");
        }
        function selectAll(){
            var status = $("#select_all").prop('checked') == true;
            if(status){
                $("input[type=checkbox]").each(function(){
                    $(this).prop('checked', true);
                })
            }else{
                $("input[type=checkbox]").each(function(){
                    $(this).prop('checked',false);
                })
            }

        }
    </script>
    <h2>My Timetable</h2><br/>

    <table class="timetable">
        {% for row in row_list %}
            <tr>
                {% for cell in row %}
                        <td>{{cell}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {% if user.profile.isTutor %}
    <br/>
    <table class="timetable">
            {% for row in row_list2 %}
                <tr>
                    {% for cell in row %}
                            <td>{{cell}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if user.profile.isStudent and not user.profile.isTutor %}
        (T = Tutorial Session Booked)
    {% elif not user.profile.isStudent and user.profile.isTutor%}
        (S = Tutoria appointment, B = Blacked-out timeslot)
    {% else %}
        (T = Tutorial Session Booked, S = Tutoria appointment, B = Blacked-out timeslot)
    {% endif %}
    <br/><br/>
    {% if user.profile.isTutor %}
        Black out timeslot:
        <form action="{% url 'view_timetable' %}" method="post">
            {% csrf_token %}
            <div id="timeslot_picker_group">
                <input type="hidden" name="form_type" value="blackout"/>
                
                From: <input type="datetime-local" name="blackOutStartDatetime"><br/>
                To  : <input type="datetime-local" name="blackOutEndDatetime"><br/>
            </div>
            <br/>
            <input type="submit" value="Add blacked-out timeslot" />
        </form>
        <br/><br/>
    {% endif %}
    {% if user.profile.isStudent %}
        {% if not student_session_list %}
            <p>You don't have any tutorial session yet.</p>
        {% else %}
            All Booked Sessions:<br/>
            <form action="{% url 'view_timetable' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="cancel"/>
                {% for s in student_session_list %}
                    <input type="checkbox" name="session_id" value="{{s.id}}" class="checkbox_group"/> {{s.getBookedDateStr}}:  
                    {{s.getStartTimeStr}} - {{s.getEndTimeStr}} 
                    ( with {{s.tutor.profile.getUserFullName}} )<br/>
                {% endfor %}
                <input type="checkbox" id="select_all" onclick="selectAll()" class="checkbox_group"/> Select All 
                <br/><br/>
                <input type="submit" value="Cancel Session" onclick="return confirmCancelSession()">
            </form>
        {% endif %}
        <br/><br/>
    {% endif %}

    {% if user.profile.isTutor %}

        {% if not tutor_session_list %}
            <p>You don't have any appointment yet.</p>
        {%else%}
            All Appointed Sessions:<br/>
            {% for s in tutor_session_list %}
                {{s.getBookedDateStr}}:  
                {{s.getStartTimeStr}} - {{s.getEndTimeStr}} 
                ( with {{s.student.profile.getUsername}} )<br/>
            {% endfor %}
        {% endif %}
        <br/><br/>
        {% if not blackedOutTimeslots %}
            <p>You don't have any blacked-out timeslot yet.</p>
        {%else%}
            All Blacked-out Timeslot:<br/>
            {% for each in blackedOutTimeslots %}
                {{ each }} <br/>
            {% endfor %}
        {% endif %}
        <br/>
    {% endif %}
    <br/>
    {% if msg %}
        <div id="msg"><b style="color:red;">{{msg | linebreaks }}</b></div>
    {% endif %}
    <style>
        .checkbox_group{
            width: 16px;
            height: 16px;
        }
        .timetable {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            font-size: 15px;
        }
        
        .timetable td, .timetable th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        .timetable tr:nth-child(even){background-color: #f2f2f2;}
        
        .timetable tr:hover {background-color: #ddd;}
        
        .timetable th {
            padding-top: 9px;
            padding-bottom: 9px;
            text-align: left;
            background-color: rgb(6, 112, 6);
            color: white;
        }
    </style>
{% endblock %}
