{% extends 'base.html' %}

{% block title %}My Timetable{% endblock %}

{% block content %}


    <script type="text/javascript">
        function confirmCancelSession(){
            var s = $("input[name=session_id]:checked");
            return confirm("You selected "+s.length+" session(s), continue to cancel?");
        }
        function selectAll(){
            var status = $("#select_all").prop('checked') == true;
            if(status){
                $("input[type=checkbox]").each(function(){
                    $(this).prop('checked', true);
                })
            }else{
                $("input[type=checkbox]").each(function(){
                    $(this).prop('checked',false);
                })
            }

        }
    </script>
    <h2>My Timetable</h2><br/>
    {% if user.profile.isStudent %}

        {% if not student_session_list %}
            <p>You don't have any session yet.</p>
        {% else %}
            All Booked Sessions:<br/>
            <form action="{% url 'view_timetable' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="cancel"/>
                {% for s in student_session_list %}
                    <input type="checkbox" name="session_id" value="{{s.id}}" class="checkbox_group"/> {{s.getBookedDateStr}}:  
                    {{s.getStartTimeStr}} - {{s.getEndTimeStr}} 
                    ( with {{s.tutor.profile.getUserFullName}} )<br/>
                {% endfor %}
                <input type="checkbox" id="select_all" onclick="selectAll()" class="checkbox_group"/> Select All 
                <br/><br/>
                <input type="submit" value="Cancel Session" onclick="return confirmCancelSession()">
            </form>
        {% endif %}
        <br/><br/>
    {% endif %}

    {% if user.profile.isTutor %}

        {% if not tutor_session_list %}
            <p>You don't have any session yet.</p>
        {%else%}
            All Appointed Sessions:<br/>
            {% for s in tutor_session_list %}
                {{s.getBookedDateStr}}:  
                {{s.getStartTimeStr}} - {{s.getEndTimeStr}} 
                ( with {{s.student.profile.getUsername}} )<br/>
            {% endfor %}
        {% endif %}
        <br/><br/>
        {% if not blackedOutTimeslots %}
            <p>You don't have any blacked-out timeslot yet.</p>
        {%else%}
            All Blacked-out Timeslot:<br/>
            {% for each in blackedOutTimeslots %}
                {{ each }} <br/>
            {% endfor %}
        {% endif %}
        <br/><br/>
        Black out timeslot:
        <form action="{% url 'view_timetable' %}" method="post">
            {% csrf_token %}
            <div id="timeslot_picker_group">
                <input type="hidden" name="form_type" value="blackout"/>
                
                From: <input type="datetime-local" name="blackOutStartDatetime"><br/>
                To  : <input type="datetime-local" name="blackOutEndDatetime"><br/>
            </div>
            <br/>
            <input type="submit" value="Add blacked-out timeslot" />
        </form>
    {% endif %}

    {% if msg %}
        <div id="msg"><b style="color:red;">{{msg | linebreaks }}</b></div>
    {% endif %}
    <style>
        .checkbox_group{
            width: 16px;
            height: 16px;
        }
    </style>
{% endblock %}
