{% extends 'base.html' %}

{% block title %}My Wallet{% endblock %}

{% block content %}
    <h3>Your Wallet Balance is:</h3>
    <h2>HKD {{amount}}</h2>

    {% if user.profile.isStudent %}
        <a href="{% url 'add_to_wallet' %}" >
            Top up wallet
        </a>
    {% endif %}

    {% if user.profile.isTutor %}
        <a href="{% url 'draw_from_wallet' %}" >
            Withdraw money to bank account
        </a>
    {% endif %}
    <br/><br/>
    {% if transactionHistory %}
        Transaction History (30 days):
        <table>

            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Debit Amount</th>
                <th>Credit Amount</th>
            </tr>
            {% for each in transactionHistory %}
                {% if each.isTutorFeeRelated %}
                    <tr>
                        <td>{{each.getDate}}</td>
                        <td>{{each.description}}: tutorial with {{each.session.tutor.profile.getUserFullName}}</td>
                        <td>{% if each.isDebit %} {{each.amount}} {% endif %}</td>
                        <td>{% if not each.isDebit %} {{each.amount}} {% endif %}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{each.getDate}}</td>
                        <td>{{each.description}}</td>
                        <td>{% if each.isDebit %} {{each.amount}} {% endif %}</td>
                        <td>{% if not each.isDebit %} {{each.amount}} {% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            
        </table>
    {% endif %}
{% endblock %}