{% extends 'base.html' %}

{% block title %}My Wallet{% endblock %}

{% block content %}
    <h3>Your Wallet Balance is:</h3>
    <h2>HKD {{amount}}</h2>

    {% if user.profile.isStudent %}
        <a href="{% url 'add_to_wallet' %}" >
            <b>Top up wallet</b>
        </a>
    {% endif %}

    {% if user.profile.isTutor %}
        <a href="{% url 'draw_from_wallet' %}" >
            Withdraw money to bank account
        </a>
    {% endif %}
    <br/><br/>
    {% if transactionHistory %}
        Transaction History (30 days):
        <table id="transaction_record">

            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Debit Amount</th>
                <th>Credit Amount</th>
            </tr>
            {% for each in transactionHistory %}
                {% if each.isTutorFeeRelated%}
                    <tr>
                        <td>{{each.getDate}}</td>
                        <td>
                            {{each.description}} 
                            <i>( {{each.session.student.profile.user.username}} &lt;-&gt; {{each.session.tutor.profile.getUserFullName}} )</i>
                        </td>
                        <td>{% if each.isDebit %} {{each.amount}} {% endif %}</td>
                        <td>{% if not each.isDebit %} {{each.amount}} {% endif %}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{each.getDate}}</td>
                        <td>{{each.description}}</td>
                        <td>{% if each.isDebit %} {{each.amount}} {% endif %}</td>
                        <td>{% if not each.isDebit %} {{each.amount}} {% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            
        </table>
    {% endif %}
    <style>
        #transaction_record {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            font-size: 15px;
        }
        
        #transaction_record td, #transaction_record th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        #transaction_record tr:nth-child(even){background-color: #f2f2f2;}
        
        #transaction_record tr:hover {background-color: #ddd;}
        
        #transaction_record th {
            padding-top: 9px;
            padding-bottom: 9px;
            text-align: left;
            background-color: rgb(6, 112, 6);
            color: white;
        }
    </style>

{% endblock %}