{% extends 'base.html' %}

{% block title %}Tutor's Profile{% endblock %}

{% block content %}

        {% if tutor %}

           

            <h2>Tutor's Profile</h2>
            <hr/>
            <div>
            {% if tutor.profile.image %}  
                <img src="{{ tutor.profile.image.url }}" height="100" width="100"/>
            {% else %}
                <img src="/media/profile_image/default_avatar.gif" height="100" width="100"/>
            {% endif %}
            </div>
            {{tutor.profile.getUserFullName}} <br/>
            {{tutor.university.name}}<br/>
            {% if tutor.isPrivateTutor %}
                <b>Private tutor</b><br/>
                Hourly rate: HKD {{tutor.hourly_rate|floatformat:0}}<br/>
            {% else %}
                <b>Contracted tutor</b><br/>
            {% endif %}
            Bio: {{tutor.bio}}<br/>
            {% if tutor.course %}
                Courses teaching: <br/>
                <ul>
                {% for c in tutor.course.all %}
                    <li>{{c.code}} {{c.name}}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if tutor.course %}
                Tag subject: <br/>
                <ul>
                {% for t in tutor.tag.all %}
                    #{{t.name}} 
                {% endfor %}
                </ul>
            {% endif %}
            {% if tutor.hasMoreThanTwoRating %}
                Average review rating: {{tutor.getAverageRating}}
                <br/>
            {% endif %}
            <br/>
            {% if reviews %}
                Recent review: <br/>
                {% for each in reviews %}
                    <hr/>
                    <p>
                    {% if not each.isAnonymous %}
                        Student name: {{each.student.profile.getUserFullName}}</br>
                    {% else %}
                        Anonymous student</br>
                    {% endif %}
                    {% if not noAverage %}
                        Rating: {{ each.rating }} Star<br/>
                    {% endif %}
                    Comment:
                    <p>{{each.comment}}</p>
                    </p>
                {% endfor %}
            {% endif %}
            <br/><br/>
            <a href="{% url 'book_tutor' tutor.id %}">Book this tutor</a>
            {% if user.profile.isStudent %}
                / <a href="{% url 'send_tutor_message' tutor.id %}">Send message to tutor</a>
            {% endif %}

        {% else %}
            <hr/>
            <p>Invalid tutor id</p>
        {% endif %}
        <hr/>

        <div class="form-group">
        <div class="col-xs-7">
        <button onclick="window.history.back();" >Back to search result</button>
        </div>
    </div>

{% endblock %}